---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="inner-layout">
    <h2>Education, Licensure, & Training</h2>
    <h3>Degrees</h3>
    <ul>
      <li>APA Accredited Counseling Psychology Ph.D.,<br/><em>Auburn University, Auburn, AL</em></li>
      <li>Psychology B.A.,<br/><em>The University of Arizona, Tucson, AZ</em></li>
      <li>Secondary Education, English & Psychology, B.A.,<br/><em>The University of Arizona, Tucson, AZ</em></li>
    </ul>
    <h3>Training</h3>
    <ul>
      <li>APA Accredited Internship: Student Counseling Service,<br/><em>Texas A&M University, College Station, TX</em></li>
      <li>Post-Doctoral Fellowship: Counseling and Psychological Services,<br/><em>University of Nevada, Las Vegas</em></li>
      <li>EMDR Level 1 Training,<br/><em>EMDR Advanced Trainings</em></li>
      <li>Ongoing Continuing Education related to Multicultural Humility, Social Justice, Ethics, Client Care, and Evidence-Based Practices</li>
    </ul>
    <h3>Licensure</h3>
    <ul>
      <li>Licensed Health Service Psychologist</li>
      <li>Massachusetts #9516</li>
      <li>North Carolina #620</li>
    </ul>
  </div>
</BaseLayout>

<style>
  li em {
    margin-left: 1rem;
  }
</style>