---
import Layout from '../../layouts/Layout.astro';
import '../../assets/global.css';
---

<Layout>
  <div class="inner-layout">
    <h2>About</h2>
    <h3>Education, Licensure, & Training</h3>
    <h4>Degrees</h4>
    <ul>
      <li>APA Accredited Counseling Psychology Ph.D.,<br/>Auburn University, Auburn, AL</li>
      <li>Psychology B.A.,<br/>The University of Arizona, Tucson, AZ</li>
      <li>Secondary Education, English & Psychology, B.A.,<br/>The University of Arizona, Tucson, AZ</li>
    </ul>
    <h4>Training</h4>
    <ul>
      <li>APA Accredited Internship: Student Counseling Service,<br/>Texas A&M University, College Station, TX</li>
      <li>Post-Doctoral Fellowship: Counseling and Psychological Services,<br/>University of Nevada, Las Vegas</li>
      <li>EMDR Level 1 Training,<br/>EMDR Advanced Trainings</li>
      <li>Ongoing Continuing Education related to Multicultural Humility, Social Justice, Ethics, Client Care, and Evidence-Based Practices</li>
    </ul>
    <h4>Licensure</h4>
    <ul>
      <li>Licensed Health Service Psychologist</li>
      <li>Massachusetts #9516</li>
      <li>North Carolina #620</li>
    </ul>
  </div>
</Layout>
