---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Images from '../../components/Images.astro';
import Photo from '../../assets/images/education-training.png';
---

<BaseLayout>
  <div class="inner-layout">
    <h2>Education, Licensure, & Training</h2>
    <Images src={Photo} alt="Stack of psychology books representing education and training" align="right" />
    <p>	I loved going to school and made sure I could do it for a long time. I'm actually still kind of mad	that I'm done. I won't make more words, if you want more details about my professional and learning experiences, you can see my <a href="#">CV here</a>. Here are the ones that make me qualified to do this job:</p>
    <h3>Degrees</h3>
    <ul>
      <li>APA Accredited Counseling Psychology Ph.D.,<br/><em>Auburn University, Auburn, AL</em></li>
      <li>Psychology B.A.,<br/><em>The University of Arizona, Tucson, AZ</em></li>
      <li>Secondary Education, English & Psychology, B.A.,<br/><em>The University of Arizona, Tucson, AZ</em></li>
    </ul>
    <h3>Training</h3>
    <ul>
      <li>APA Accredited Internship: Student Counseling Service,<br/><em>Texas A&M University, College Station, TX</em></li>
      <li>Post-Doctoral Fellowship: Counseling and Psychological Services,<br/><em>University of Nevada, Las Vegas</em></li>
      <li>EMDR Level 1 Training,<br/><em>EMDR Advanced Trainings</em></li>
      <li>Ongoing Continuing Education related to Multicultural Humility, Social Justice, Ethics, Client Care, and Evidence-Based Practices</li>
    </ul>
    <h3>Licensure</h3>
    <ul>
      <li>Licensed Health Service Psychologist<br/>
        <em>Massachusetts #9516</em><br/>
        <em>North Carolina #6209</em>
      </li>
    </ul>
  </div>
</BaseLayout>

<style>
  li em {
    margin-left: 1rem;
  }
</style>