---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Images from '../../components/Images.astro';
import Healinginprogress from '../../assets/images/emdr.png';
---

<BaseLayout>
  <div class="inner-layout">
    <h2>My Approach</h2>
    <Images src={Healinginprogress} alt="Therapy approach illustration for Dr. Teresa Fisher" align="right" />
    <p>We're in this together. Therapy won't work very well (with me, or with anyone) if only one of us is showing up to be curious, be reflective, challenge ourselves, and tell the truth. I always hope that meeting with me is not as uncomfortable as you fear.</p>
    <p>I am actively engaged, asking questions you haven't thought about before, and helping you tune in to your body and be present. I will respond with curiosity, not judgement, when you share yourself, and, even though it can be difficult, I'll pay attention to how our identities show up in therapy.</p>
    <p>Humor is one of my go-to coping strategies, so in addition to working hard, we'll find moments of laughter, and we will celebrate your strengths along the way. These things help reduce symptoms and improve relationships outside of therapy.</p>
    <h3>Some of my core values:</h3>
    <ul>
      <li>Respect and value people.</li>
      <li>Humans are capable of change and moving through challenge in new ways.</li>
      <li>When we're all thriving, we're all thriving.</li>
      <li>We all have blind spots and we're all constantly learning, it's hard to have these pointed out, but the learning and connection that comes after is worth it.</li>
    </ul>
    <p>These core values shape who I am in the world and how I do therapy. Often the mental health symptoms that get in the way are rooted in experiences you've had that make you question your worth, doubt yourself, or highlight a sense that you are "not good enough." Sometimes these messages are based on some aspect of your identity. Our job in therapy is to help strengthen your sense of yourself and the ability to respond to those messages&mdash;whether they are coming from internally or an external system&mdash;with empowerment.</p>
    <p>My approach is client centered, which means I will take some time to get to know you before we explore what actions (changes, homework, skills to build) make sense. I'm a fiery LGBTQ+ ally. I'll meet your neurospicy brain with kindness and compassion. I just might be a minute or two late sometimes ;)</p>
    <h3>Do I use any specific treatments?</h3>
    <p>For those looking for specific kinds of treatment, I incorporate </abbr><strong>ACT</strong></abbr> (Acceptance and Commitment Therapy), which is a kind of <abbr><strong>CBT</strong></abbr> (Cognitive Behavioral Therapy). This includes:
      <ul>
        <li>Mindful awareness skills</li>
        <li>Identifying emotions</li>
        <li>Awareness of unhelpful thinking</li>
        <li>Learning to bring ourselves back to the present moment</li>
        <li>Noticing self-judgement</li>
        <li>Articulating the values you would like to live by</li>
      </ul>
    <p>How structured this is depends on your needs. I am also trained in <abbr><strong>EMDR</strong></abbr> (Eye Movement Desensitization and Reprocessing), which is another way to learn and adapt, particularly after trauma.</p>
    <p>My approach is relational and trauma-informed every step of the way.</p>
  </div>
</BaseLayout>
