---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Images from '../../components/Images.astro';
import Whoami from '../../assets/images/who-am-i.png';
---

<BaseLayout>
  <div class="inner-layout">
    <h2>Who am I?</h2>
    <Images src={Whoami} alt="Headshot of Teresa Fisher, PhD. in front of a mural" />
    <p>In 4th grade, my school started a peer mediation program, and I was trained to help other kids solve problems and de-escalate conflict. I loved listening and asking questions, and my young, anxious self really loved helping kids not get in trouble.</p>
    <p>As I got older, I kept finding myself drawn to roles where I was able to connect with others, learn about their experiences, and support them in learning about themselves and their best next steps (e.g., camp counselor, Resident Assistant, teacher). As I grew my interest in brains, bodies, and the impact of identity, systems of oppression, and life experiences on functioning and stress levels, I found Counseling Psychology as a path that allowed me to lean in to identity exploration and social justice as foundational to supporting folks in healing, moving forward, and finding joy.</p>
    <p>Along the way I have had my own experiences in therapy that helped me respond more meaningfully to anxiety, overwhelm, my relationship with my body, and navigating marriage and parenthood. My journey has helped me share learning and growing in many environments, and the power of connection–with each other and with ourselves–keeps me energized and curious.</p>
    <p>I also live a full life outside of the therapy room! I share my home with a husband, a kiddo, 3 mammals (a dog and 2 cats that my kid wanted and I have come to very much enjoy), and sometimes critters of other kinds (recently, Sea Monkeys which I was more fond of than I'd like to be true). I like to go outside, always have 3-4 hobbies that I either want more time for or would like to learn, and am always chasing something fun and/or a nap. Depending on my moment-by-moment relationship with the news and real life, I like podcasts and/or audiobooks. Also dance parties. Also cooking with what some may consider to be too much garlic, and treats. I like plants a lot but am not good at keeping them alive. You may have noticed that I love words and use too many of them! I'm also working to manage my anxiety with therapy, skills, and connections just like any other human. Hi!</p>
  </div>
</BaseLayout>