---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Images from '../../components/Images.astro';
import MyApproachImage from '../../assets/images/my-approach.png';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>EMDR</h2>
		<Images src={MyApproachImage} alt="EMDR" align="right" />
		<p>Eye Movement Desensitization and Reprocessing is a treatment that can help people find engage with painful or traumatic memories in a new way. There is a ton of evidence based support for EMDR showing over and over again that it helps people find relief.</p>
		<p>This is more structured than typical talk therapy, doesn’t require you to share all the details of a memory out loud, and engages both sides of your brain through moving your eyes or sometimes tapping your legs or shoulders.</p>
		<p>I offer EMDR as part of ongoing therapy, or as our sole focus. Sometimes people will come to me for shorter rounds of EMDR to help with their work in their individual therapy with another therapist. Reach out to let me know what questions you have!</p>
		<p>Learn more here: <a href="https://www.emdr.com/what-is-emdr/#layperson">https://www.emdr.com/what-is-emdr/#layperson</a></p>
		<Button url="/contact" style={{clear: "both"}}>Connect with me</Button>
	</div>
</BaseLayout>
