---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>EMDR</h2>
		<p>EMDR, or Eye Movement Desensitization and Reprocessing, is amazing!</p>
	</div>
</BaseLayout>
