---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>Individual Therapy</h2>
		<p>For adults who are ready to engage with themselves and me with curiosity. Therapy can help people with new or unexpected challenges or feelings (a life transition, a loss, an unexpected event) or longer standing patterns of thoughts or feelings. Therapy can help build awareness, fill your coping toolbox, and improve your relationships.</p>
	</div>
</BaseLayout>
