---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Images from '../../components/Images.astro';
import Grid from '../../components/Grid.astro';
import Image1 from '../../assets/images/individual-therapy-1.png';
import Image2 from '../../assets/images/individual-therapy-2.png';
import Image3 from '../../assets/images/individual-therapy-3.png';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>Individual Therapy</h2>
		<p>For adults who are ready to engage with themselves and me with curiosity. Therapy can help people with new or unexpected challenges or feelings (a life transition, a loss, an unexpected event) or longer standing patterns of thoughts or feelings. Therapy can help build awareness, fill your coping toolbox, and improve your relationships.</p>
		<p>My style is relational—meaning that I want to get to know you and I'm going to show up as a whole person. Here's how it might look:
			<ul>
				<li>We connect for a 20ish minute phone call to see if we'd be a good fit</li>
				<ul>
					<li>I'll ask you about what you're looking for in therapy and what you're experiencing</li>
					<li>You'll ask me about how I work and anything else you want to know</li>
				</ul>
				<li>Boring, but important paperwork is signed</li>
				<li>We meet for our first 1-2 sessions, these are a little more structured as I get to know you, I'll ask about these kinds of things:</li>
				<ul>
					<li>Current Concerns</li>
					<li>Important Relationships now and over time</li>
					<li>Health History</li>
					<li>Ways you cope/or have tried to cope</li>
					<li>Work and School Experiences</li>
					<li>Experiences in this WILD sociopolitical climate</li>
				</ul>
				<li>We begin meeting regularly for 45-55 minutes. By focusing on what is important to you in the moment, we will weave in skill building based in Cognitive Behavioral and Acceptance and Commitment Therapy like:</li>
				<ul>
					<li>Naming and Accepting emotional experiences</li>
					<li>Labeling and Disentangling from Thoughts</li>
					<li>Paying attention to your body RIGHT NOW!</li>
					<li>Identifying Values which can guide changes in behaviors like communication and boundary setting</li>
					<li>Grounding and responding to our body's stress response/nervous system</li>
				</ul>
				<li>We will sometimes feel uncomfortable or examine challenging feedback and we'll figure that out too. </li>
				<li>Things often start to shift. It's pretty cool. </li>
			</ul>
		</p>
		<Grid style={{marginBottom: "2rem"}}>
			<Images src={Image1} alt="Teresa Fisher, PhD. doing telehealth" class="img" width="300px" />
			<Images src={Image2} alt="Teresa Fisher, PhD.'s office" class="img" width="300px" />
			<Images src={Image3} alt="Two clasped hands" class="img" width="300px" />
		</Grid>
			<Button url="/contact">Connect with me</Button>
	</div>
</BaseLayout>

