---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>Supervision & Clinical Consultation</h2>
		<p>For clinicians working towards licensure as a Psychologist or seeking support in their work with clients.</p>
	</div>
</BaseLayout>
