---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Images from '../../components/Images.astro';
import SupervisionImage from '../../assets/images/supervision.png';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>Supervision & Clinical Consultation</h2>
		<Images src={SupervisionImage} alt="Supervision & Clinical Consultation" align="right" />
		<p>For clinicians working towards licensure as a Psychologist or seeking support in their work with clients, I offer compassionate, ethical, and comprehensive supervision and consultation within a relationship that feels safe for growth. I have many years of experience with training and supervising from a developmental lens.</p>
		<!-- <p>Reach out if you'd like to connect!</p> -->
		<p><em>*LR students, stay tuned, I'm working on getting the supervisor credential for NC!</em></p>
		<Button url="/contact">Connect with me</Button>
	</div>
</BaseLayout>
