---
import Layout from '../layouts/Layout.astro';
import { Content as About } from '../components/about.md';

import '../assets/global.css';
---
<Layout>
	<div class="inner-layout">
		<h2>About</h2>
		<About />
	</div>
</Layout>
