---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
	<Heading />
	<main>
		<h2>Contact</h2>
		Please contact me to set up a 20-ish minute free consultation phone call. In this call  I will ask you some questions about what you are experiencing and you can also ask me questions you have about the way that I approach therapy or anything else. 
		Fields do you want in the contact form:
		Name (first, last)
		Email
		Phone Number.
		Brief description of what you have been experiencing that is prompting you to reach out now.
		All services are confidential.
		If you need immediate support call 911 or 988

	</main>
	<Footer />
</Layout>
