---
import Layout from '../layouts/Layout.astro';
import '../assets/global.css';

---
<Layout>
	<div class="inner-layout">
		<h2>Contact</h2>
		<p>Please contact me to set up a 20-ish minute free consultation phone call. In this call  I will ask you some questions about what you are experiencing and you can also ask me questions you have about the way that I approach therapy or anything else.</p>
		<p>Fields do you want in the contact form:</p>
		<ul>
			<li>Name (first, last)</li>
			<li>Email</li>
			<li>Phone Number.</li>
			<li>Brief description of what you have been experiencing that is prompting you to reach out now.</li>
		</ul>
		<p><em>All services are confidential.</em></p>
		<p><em>If you need immediate support call <strong>911</strong> or <strong>988</strong></em></p>
	</div>
</Layout>
