---
import Layout from '../layouts/Layout.astro';
import { Content as Contact } from '../components/contact.md';
import '../assets/global.css';

---
<Layout>
	<div class="inner-layout">
		<h2>Contact</h2>
		<Contact />
	</div>
</Layout>
