---
import Layout from '../layouts/Layout.astro';
import Quotes from '../components/Quotes.astro';
import { Content as Index } from '../components/index.md';
import '../assets/global.css';
---

<Layout>
	<div class="inner-layout">
		<h2>Welcome</h2>
		<Quotes />
		<Index />
	</div>
</Layout>
