---
import BaseLayout from '../layouts/BaseLayout.astro';
import Images from '../components/Images.astro';
import Button from '../components/Button.astro';
import Headshot from '../assets/images/headshot.png';
import Grid from '../components/Grid.astro';
import Cube from '../components/Cube.astro';
---

<BaseLayout>
	<div class="inner-layout">
		<h2>When we're all thriving, we're all thriving.</h2>
		<Images src={Headshot} align="right" alt="Headshot of Teresa Fisher, PhD." />
		<p>Welcome! It's wonderful that you're taking the (not always easy) step of recognizing that you could use some support, or skills, or challenge to approach something differently.</p>
		<p>Have you found yourself overthinking every little decision? Imagining the “worst case scenario” on repeat? Convincing yourself that you don't have much to offer? If these kinds of patterns are leaving you exhausted and blocked from having the connections and relationships you want with people, yourself, or the world, I can help. My approach will help you slow down, reconnect with yourself, and find new ways to respond so that you can move forward with hope, self-compassion, and empowerment. We'll work to build an identity affirming space where you can find what you need.</p>
		<p>I <strong><em>do</em></strong> believe that our experiences (and mental health symptoms) are shaped in part by the ways the world responds to how we show up (e.g. gender, race, class, religion, body shape, age, LGBTQA+, neurodiversity) and the systems that help or hurt us. I'll be your ally, support, and challenger.</p>
		<Button url="/teresafisherphd/contact" style={{marginBottom: "1rem"}}>Connect with me</Button>
		<h3>How Can I Help?</h3>
		<Grid style={{marginBottom: "2rem"}}>
			<Cube title="Individual Therapy" url="https://placehold.co/200x200" alt="Placeholder image" width="200px" height="200px" />
			<Cube title="EMDR" url="https://placehold.co/200x200" alt="Placeholder image" width="200px" height="200px" />
			<Cube title="Supervision & Consultation" url="https://placehold.co/200x200" alt="Placeholder image" width="200px" height="200px" />
			<Cube title="Community Outreach" url="https://placehold.co/200x200" alt="Placeholder image" width="200px" height="200px" />
		</Grid>
	</div>
</BaseLayout>

