---
import BaseLayout from '../layouts/BaseLayout.astro';
import Images from '../components/Images.astro';
import Phrenology from '../assets/images/rates-and-insurance.png';
---
<BaseLayout>
	<div class="inner-layout">
		<h2>Rates & Insurance</h2>
		<Images src={Phrenology} alt="Theresa Fisher's therapy office" align="right" />
		<p>Therapy is a valuable resource. Affording it in a sustainable way is important.</p>
		<h3>Private Pay:</h3>
		<p>Individual 50&ndash;55 minute sessions: $225</p>
		<h3>Insurance:</h3>
		<p>I work with a platform called <strong>Alma</strong> to see clients in-network with many <strong>Aetna</strong>, <strong>Optum</strong> (United Health), and <strong>Harvard Pilgrim</strong> plans. Check your insurance here: <a href="https://secure.helloalma.com/providers/teresa-fisher/">https://secure.helloalma.com/providers/teresa-fisher/</a></p>
		<p>I will provide documentation (called a <dfn class="define" title="A superbill is a detailed invoice provided by a healthcare provider that outlines services rendered, including diagnoses and procedure codes, which patients can submit to their insurance for reimbursement.">Superbill</dfn>) that you can submit to use out of network benefits.</p>
		<h3>Sliding Scale:</h3>
		<p>I offer a limited number of sliding scale spots based on financial need.</p>
		<h3>Good Faith Estimate:</h3>
		<p>In accordance with the <a href="https://www.cms.gov/NoSurprises" target="_blank">No Suprise Act</a>, you're entitled to a Good Faith Estimate that outlines the expected costs of services before we begin.</p>
	</div>
</BaseLayout>

<style>
	.define {
		cursor: help;
		border-bottom: 1px dashed var(--color-7);
	}
	a {
		word-break: break-word;
	}
</style>