---
import Layout from '../layouts/Layout.astro';
import { Content as Rates } from '../components/rates.md';
import '../assets/global.css';

---
<Layout>
	<div class="inner-layout">
		<h2>Rates & Services</h2>
		<p>Therapy is a valuable resource. Affording it in a sustainable way is important.</p>
		<h3>Private Pay:</h3>
		<p>Individual 50-55 minute sessions: $200</p>
		<h3>Insurance:</h3>
		<p>I work with a platform called Alma to see clients in-network with many Aetna and Optum (United Health) plans. Check your insurance here: <a href="https://secure.helloalma.com/providers/teresa-fisher/">https://secure.helloalma.com/providers/teresa-fisher/</a></p>
		<p>I will provide documentation (called a Superbill) that you can submit to use out of network benefits.</p>
		<h3>Sliding Scale:</h3>
		<p>I offer a limited number of sliding scale spots based on financial need.</p>
		<h3>Good Faith Estimate</h3>
		<p>In accordance with the No Suprise Act, you're entitled to a Good Faith Estimate that outlines the expected costs of services before we begin.</p>
	</div>
</Layout>
