---
import Layout from '../layouts/Layout.astro';
import { Content as Rates } from '../components/rates.md';
import '../assets/global.css';

---
<Layout>
	<div class="inner-layout">
		<h2>Rates & Services</h2>
		<Rates />
	</div>
</Layout>
