---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
	<Heading />
	<main>
		<h2>Services</h2>
		How Can I Help?

		I would likely be a good fit for you if:
		You're ready to engage and be challenged.
		You want to learn how to build your awareness of underlying thoughts and emotions and how they drive the patterns that keep us stuck. 
		You like to laugh sometimes, even when something is hard. 
		You need some help celebrating the small wins along the way. 

		I might not be a great fit if:
		You want super structured homework and sessions.
		You mostly want to vent. 
		You are looking for intensive therapy (more than 1-2 sessions per week).

		Individual Therapy
		For adults who are ready to engage with themselves and me with curiosity. Therapy can help people with new or unexpected challenges or feelings (a life transition, a loss, an unexpected event) or longer standing patterns of thoughts or feelings. Therapy can help build awareness, fill your coping toolbox, and improve your relationships.

		Supervision & Clinical Consultation
		For clinicians working towards licensure as a Psychologist or seeking support in their work with clients.

		Community Outreach 
		Do you have a group or organization that could use an experiential workshop to help manage stress or communicate more effectively? I'd LOVE to hear from you!

	</main>
	<Footer />
</Layout>
