---
const { url, ...rest } = Astro.props;
---
<a href={url} class="button" {...rest}>
	<slot />
</a>

<style>
	.button {
		position: relative;
		display: flex;
		justify-self: center;
		width: fit-content;
		margin: auto auto 10px;
		padding: .5rem .75rem;
		text-transform: uppercase;
		background-color: var(--color-5);
		color: var(--color-4);
		transition: all 0.2s;
		box-shadow: -10px 10px 0 var(--color-3);
		text-decoration: none;
	}
	.button:hover {
		box-shadow: -8px 8px 0 var(--color-3);
		background-color: var(--color-5-hover);
	}
	.button:active {
		box-shadow: 0px 0px 0 var(--color-3);
	}
</style>