---
import '../assets/global.css';
const { class: className, ...rest } = Astro.props;
---

<footer class={className} {...rest}>
  <div class="inner-layout">
    Footer
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-2);
    height: 100px;
  }
  footer div {
    text-align: center;
  }
</style>