---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';
const { class: className } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class=`footer ${className}`>
  <div class="inner-layout">
    <p class="call">For Immediate Support call or text 988</p>
    <Image class="image" src={logo} alt="Milkweed Mental Health Logo" />
    <address>
      <p><a class="dark" href="mailto:teresa@teresafisherphd.com">teresa@teresafisherphd.com</a> <span class="divider">|</span> <a class="dark" href="tel:+18282762290">(828) 276-2290</a></p>
      <p class="address">
        <a class="dark" href="geo:35.594844,-82.551677">
          <span>9 SW Pack Sq.</span>
          <span>Suite 204 E1-A</span>
          <span>Asheville, NC 28801</span>
        </a>
      </p>
    </address>
    <small>&copy; {currentYear} Teresa Fisher, PhD. PLLC | Site by <a class="dark" href="https://wyliefisher.com" target="_blank">Wylie</a> | Graphics by <a class="dark" href="https://www.christymichellestudio.com" target="_blank">Christy Michelle Studio</a></small>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    background-color: var(--color-2);
    font-size: 1rem;
  }
  .footer .inner-layout {
    display: grid;
    text-align: center;
    padding: 1rem 1rem .5rem;
  }
  .call {
    margin-top: 0;
    font-weight: bold;
  }
  .image {
    width: 200px;
    height: auto;
    justify-self: center;
  }
  .address span {
    white-space: nowrap;
  }
  address {
    font-style: normal;
  }
  small {
    margin-top: 1rem;
  }
  @media screen and (min-width: 650px) {
    .footer .inner-layout {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr auto;
      gap: 1rem;
    }
    .image {
      width: 100%;
    }
    address {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    address .divider {
      display: none;
    }
    address p {
      margin: 0;
      width: 75%;
    }
    address a {
      margin-top: 1rem;
      display: block;
    }
    address span {
      display: block;
    }
    .call {
      margin: 0;
    }
    .call,
    small {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-self: center;
    }
  }
</style>