---
import Navigation from './Navigation.astro';
import '../assets/global.css';

const {class: className, ...rest } = Astro.props;
---
<header class=`header ${className}` {...rest}>
  <div class="inner-layout">
    <h1 class="title"><span>Teresa Fisher PhD.</span> <span>Milkweed Mental Health</span></h1>
    <Navigation />
  </div>
</header>

<style>
  .title {
    font-size: 1.75rem;
    color: var(--color-primary);
    text-align: center;
  }
  .title span {
    white-space: nowrap;
  }
</style>