---
import Navigation from './Navigation.astro';
import logo from '../assets/logo.png';
import '../assets/global.css';

const {class: className, ...rest } = Astro.props;
---
<header class={className} {...rest}>
  <div class="inner-layout">
    <h1>Teresa Fisher PhD. / Milkweed Mental Health</h1>
    <img src={logo.src} alt="Milkweed Mental Health Logo" />
    <Navigation />
  </div>
</header>

<style>
  h1 {
    font-size: 2rem;
    color: var(--color-primary);
  }
  img {
    width: 200px;
  }
</style>