---
import ShareImage from '../assets/images/share-image.png'
import Favicon from './Favicon.astro';

---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content="Ahoy!">
<meta property="og:type" content="website" />
<meta property="og:title" content="Teresa Fisher, PhD., Milkweed Mental Health" />
<meta property="og:image" content={ShareImage.src} />
<meta property="og:image:alt" content="Milkweed Mental Health" />
<meta property="og:description" content="Ahoy! Teresa Fisher, PhD." />
<meta property="og:site_name" content="Teresa Fisher, PhD., Milkweed Mental Health" />
<meta property="og:locale" content="en_US" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>Teresa Fisher, PhD.</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Englebert&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<Favicon />