---
---
<ul>
  <li><a href="/teresafisherphd/">Welcome</a></li>
  <li><a href="/teresafisherphd/about">About</a></li>
  <li><a href="/teresafisherphd/services">Services</a></li>
  <li><a href="/teresafisherphd/rates">Rates & Insurance</a></li>
  <li><a href="/teresafisherphd/contact">Contact</a></li>
</ul>

<style>
  ul {
    display: flex;
    justify-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li:not(:first-child) {
    margin-left: 1rem;
  }
</style>