---
---
<ul>
  <li><a href="/mmh/">Welcome</a></li>
  <li><a href="/mmh/about">About</a></li>
  <li><a href="/mmh/services">Services</a></li>
  <li><a href="/mmh/contact">Contact</a></li>
</ul>

<style>
  ul {
    display: flex;
    justify-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li:not(:first-child) {
    margin-left: 1rem;
  }
</style>