---
import '../assets/global.css';
---
<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item"><a href="/teresafisherphd/">Welcome</a></li>
    <li class="nav-item" id="about">
      About
      <ul class="about-list">
        <li><a href="/teresafisherphd/about/who-am-i">Who Am I?</a></li>
        <li><a href="/teresafisherphd/about/my-approach">My Approach</a></li>
        <li><a href="/teresafisherphd/about/education-training">Education & Training</a></li>
      </ul>
    </li>
    <li class="nav-item" id="services">
      Services
      <ul class="services-list">
        <li><a href="/teresafisherphd/services/individual-therapy">Individual Therapy</a></li>
        <li><a href="/teresafisherphd/services/supervision-consultation">Supervision & Consultation</a></li>
        <li><a href="/teresafisherphd/services/community-outreach">Community Outreach</a></li>
      </ul>
    </li>
    <li class="nav-item"><a href="/teresafisherphd/rates">Rates & Insurance</a></li>
    <li class="nav-item"><a href="/teresafisherphd/contact">Contact</a></li>
  </ul>
</nav>

<!-- TODO: crude, but it works. it's late. I'll clean this up at a later date -->
<!-- TODO: the dropdowns cover each other up when both open. opening one, then a second should close the first -->
<!-- TODO: the services dropdown doesn't close when clicked outside of it -->
<script>
  const aboutItems = document.querySelectorAll('.about-list');
  const aboutElement = document.getElementById('about');
  aboutElement.addEventListener('click', (event) => {
    event.stopPropagation();
    aboutItems[0].classList.toggle('visible');
  });
  document.addEventListener('click', (event) => {
    if (!aboutElement.contains(event.target)) {
      aboutItems[0].classList.remove('visible');
    }
  });

  const servicesItems = document.querySelectorAll('.services-list');
  const servicesElement = document.getElementById('services');
  servicesElement.addEventListener('click', (event) => {
    event.stopPropagation();
    servicesItems[0].classList.toggle('visible');
  });
  document.addEventListener('click', (event) => {
    if (!servicesItems.contains(event.target)) {
      servicesItems[0].classList.remove('visible');
    }
  });
</script>

<style>
  #about,
  #services {
    position: relative;
    cursor: pointer;
    color: var(--color-6);
    text-decoration: underline;
    justify-content: center;
    display: flex;
  }
  .about-list,
  .services-list {
    opacity: 0;
    position: absolute;
    list-style-type: none;
    margin: 0;
    background-color: var(--color-4);
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px var(--color-1);
    overflow: hidden;
    transition: all .25s;
    z-index: 2;
    top: 1.5rem;
    visibility: hidden;
  }
  .about-list li,
  .services-list li {
    padding: .25rem 1rem;
  }
  .about-list li:hover,
  .services-list li:hover {
    background-color: var(--color-3);
  }
  .about-list.visible,
  .services-list.visible {
    opacity: 1;
    visibility: visible;
  }
  .navigation {
    border-bottom: 3px double var(--color-2);
    border-top: 3px double var(--color-2);
    padding: .5rem 0;
  }
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    row-gap: .1rem;
    column-gap: 1rem;
  }
  .nav-item {
    white-space: nowrap;
  }
</style>