---
const { float = "" } = Astro.props;
---

<!-- TODO: clean this up a lot, I don't like all the element creation -->
<script>
  import quotes from '../assets/quotes.json';
  function getRandomQuote() {
    const randomIndex = Math.floor(Math.random() * quotes.length);
    const quote = quotes[randomIndex].quote;
    const author = quotes[randomIndex].author;
    const elem = document.getElementById('quote-container');
    const authorBlock = document.createElement('span');
    elem.innerText = quote;
    authorBlock.style = 'display: block; text-align: right; font-style: italic;';
    authorBlock.innerText = `- ${author}`;
    elem.appendChild(authorBlock);
    return elem;
  }
  function appendQuote() {
    const quoteContainer = document.getElementById('quote-container');
    const quoteElem = getRandomQuote();
    quoteContainer.appendChild(quoteElem);
  }
  appendQuote();
</script>

<div class="wrap">
  <blockquote id="quote-container" class=`quote ${float}`></blockquote>
  <div></div>
</div>

<style>
  .wrap {
    position: relative;
    z-index: 2;
  }
  .quote {
    position: relative;
    background-color: var(--color-5);
    color: white;
    font-size: 14px;
    max-width: 100%;
    margin: 0;
    padding: 1rem;
    z-index: 2;
  }
  .quote ~ div {
    position: absolute;
    padding: 1rem;
    background-color: var(--color-3);
    top: -10px;
    right: 10px;
    bottom: -27px;
    left: -10px;
    z-index: 1;
    margin: 1rem;
  }
  .quote::before {
    color: var(--color-7);
    content: open-quote;
    font-size: 8rem;
    vertical-align: -0.4em;
    line-height: 0;
    position: absolute;
    top: 30px;
    left: -10px;
  }
  @media screen and (min-width: 600px) {
    .quote {
      margin: 1rem;
    }
    .quote.left {
      float: left;
      width: 300px;
      margin-left: 0;
    }
    .quote.right {
      float: right;
      width: 300px;
      margin-right: 0;
    }
  }
</style>