:root {
  --color-1: #608A70;
  --color-2: #A4C3A4;
  --color-3: #FFD64A;
  --color-4: #FAE3BC;
  --color-5: #F47D20;
  --color-6: #BF381E;
  --color-7: #333;
}

html,
body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--color-4);
  color: var(--color-7);
}

h1,
h2,
h3 {
  font-weight: 300;
}

a {
  color: var(--color-6);
}
a:hover {
  color: var(--color-6);
}

.inner-layout {
  max-width: 800px;
  margin: auto;
}
.main-content {
  padding: 0 1rem;
}
