<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Teresa Fisher, PhD.</title>
	</head>
	<body class="layout">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.layout {
		display: grid;
		grid-template-rows: auto auto auto 1fr auto;
		gap: 1rem;
		text-align: center;
		min-height: 100vh;
		max-width: 800px;
		margin: auto;
	}
</style>
