---
import Meta from '../components/Meta.astro'
import '../assets/global.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta >
	</head>
	<body class="layout">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.layout {
		display: grid;
		grid-template-rows: auto 1fr auto;
		gap: 1rem;
		min-height: 100vh;
	}
</style>
